html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
}

body {
  font-family: "Days one", sans-serif;
}

.hero,
.product {
  scroll-snap-align: start;
}

.hero {
  min-height: 100vh;
  background: url(assets/images/main-image.jpg) center / cover no-repeat;
  position: relative;
}
.hero-text {
  color: #f9f6ee;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  position: absolute;
  bottom: 50px;
  left: 50px;
  border-radius: 15px;
}

.product {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 26px;

  position: relative;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.show {
  opacity: 1;
}

.product-details {
  color: #f9f6ee;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  max-width: 650px;
  padding: 1rem;
}

.product-details:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  color: orangered;
  transition: all 0.5s ease-in-out;
}

.product-details:hover .product-price {
  background-color: rgba(18, 18, 18, 0.9);
  color: orangered;
  transition: all 0.5s ease-in-out;
}

.product-detail-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 7px;
}

.product-detail {
  background-color: rgba(18, 18, 18, 0.7);
  padding: 6px;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.product-detail .label {
  font-size: 13px;
  color: gray;
}

.product-price {
  background-color: orangered;
  max-width: 100px;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
  letter-spacing: 1.5px;
  cursor: pointer;
}
