html,
body,
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: "Days one", sans-serif;
}

.hero {
  min-height: 100vh;
  background: url(assets/images/main-image.jpg) center / cover no-repeat;
  position: relative;
}
.hero-text {
  color: #f9f6ee;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  position: absolute;
  bottom: 50px;
  left: 50px;
  border-radius: 15px;
}
